<?xml version="1.0" encoding="UTF-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.zhaoshouren.android.apps.clock" android:installLocation="internalOnly">

	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.WRITE_SETTINGS" />
	<uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.DEVICE_POWER" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-sdk android:targetSdkVersion="8" android:minSdkVersion="7" />

	<application 
		android:label="@string/app_label"
		android:icon="@drawable/ic_launcher_alarmclock" 
		android:debuggable="true"
		android:hasCode="true">

		<provider
			android:name=".provider.AlarmProvider"
			android:authorities="com.zhaoshouren.android.apps.deskclock" />

		<activity
			android:name=".ui.DeskClockActivity"
			android:label="@string/app_label" 
			android:theme="@android:style/Theme.Wallpaper.NoTitleBar"
			android:icon="@drawable/ic_launcher_alarmclock" 
			android:launchMode="singleInstance"
			android:configChanges="orientation|keyboardHidden|keyboard|navigation">
			<meta-data android:name="android.dock_home" android:value="true" />
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.LAUNCHER" />
				<category android:name="android.intent.category.DESK_DOCK" />
			</intent-filter>
			<intent-filter>
				<action android:name="zs.clock.intent.action.HOME" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>

		<activity
			android:name=".ui.AlarmListActivity"
			android:label="@string/alarm_list_title" 
			android:taskAffinity=""
			android:excludeFromRecents="true"
			android:configChanges="orientation|keyboardHidden|keyboard|navigation"
			android:exported="true" android:launchMode="singleInstance">
			<intent-filter>
				<action android:name="zs.clock.intent.action.ALARM_LIST" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		
		<activity android:name=".ui.SetAlarmActivity" android:label="@string/set_alarm" android:configChanges="orientation|keyboardHidden|keyboard|navigation">
			<intent-filter>
				<action android:name="zs.clock.intent.action.ALARM_SET" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity><activity
			android:name=".ui.SettingsPreferenceActivity"
			android:label="@string/settings" 
			android:taskAffinity=""
			android:excludeFromRecents="true">
		</activity>

		

		<activity 
			android:name=".ui.AlarmAlertActivity"
			android:excludeFromRecents="true" 
			android:theme="@style/alarm_alert"
			android:launchMode="singleInstance" 
			android:taskAffinity=""
			android:configChanges="orientation|keyboardHidden|keyboard|navigation" />

		<!-- This activity is basically the same as AlarmAlert but with a more 
			generic theme. It also shows as full screen (with status bar) but with the 
			wallpaper background. -->
		<activity
			android:name=".ui.AlarmAlertFullScreenActivity"
			android:excludeFromRecents="true"
			android:theme="@android:style/Theme.Wallpaper.NoTitleBar"
			android:launchMode="singleInstance" 
			android:taskAffinity=""
			android:configChanges="orientation|keyboardHidden|keyboard|navigation" />

		<receiver
			android:permission="android.permission.RECEIVE_BOOT_COMPLETED" android:name=".receiver.AlarmBroadcastReceiver">>
			<intent-filter>
				<action android:name=".intent.action.ALARM_ALERT" />
				<action android:name=".intent.action.ALARM_KILLED" />
				<action android:name=".intent.action.ALARM_SNOOZE_CANCEL" />
				
				<action android:name="android.intent.action.BOOT_COMPLETED" />
				<action android:name="android.intent.action.TIME_SET" />
				<action android:name="android.intent.action.TIMEZONE_CHANGED" />
				<action android:name="android.intent.action.LOCALE_CHANGED" />
				<action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
				<action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
			</intent-filter>
		</receiver>

		<receiver
			android:name=".receiver.AnalogClockAppWidgetProvider"
			android:label="@string/gadget_analog" 
			android:icon="@drawable/ic_widget_analog_clock">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
			</intent-filter>
			<meta-data 
				android:name="android.appwidget.provider"
				android:resource="@xml/appwidget_analog" />
		</receiver>

		<receiver
			android:name=".receiver.DigitalClockAppWidgetProvider"
			android:label="@string/gadget_digital" 
			android:icon="@drawable/ic_widget_digital_clock">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
				<action android:name="android.appwidget.action.APPWIDGET_ENABLED" />
				<action android:name="android.appwidget.action.APPWIDGET_DISABLED" />
			</intent-filter>
			<meta-data 
				android:name="android.appwidget.provider"
				android:resource="@xml/appwidget_digital" />
		</receiver>
		
		<service
			android:name=".service.AlarmPlayerService">
			<intent-filter>
				<action android:name="zs.clock.intent.action.PLAY_ALARM" />
				<action android:name="zs.clock.intent.action.STOP_ALARM" />
			</intent-filter>
		</service>

		<!-- paired with DigitalClockAppWidgetProvider -->
		<service
			android:name=".service.DigitalClockService">
			<intent-filter>
				<action android:name="com.zhaoshouren.android.apps.clock.DIGITAL_CLOCK" />
			</intent-filter>
		</service>
		
		<!-- TEST -->
		<receiver
			android:permission="android.permission.RECEIVE_BOOT_COMPLETED" android:name=".receiver.TestBroadcastReceiver">>
			<intent-filter>
				<action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
				<action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
				<action android:name="android.intent.action.CAMERA_BUTTON" />
				<action android:name="android.intent.action.BOOT_COMPLETED" />
				<action android:name="android.intent.action.DATE_CHANGED" />
				<action android:name="android.intent.action.LOCALE_CHANGED" />
				<action android:name="android.intent.action.SCREEN_OFF" />
				<action android:name="android.intent.action.SCREEN_ON" />
				<action android:name="android.intent.action.TIME_SET" />
				<action android:name="android.intent.action.TIME_TICK" />
				<action android:name="android.intent.action.TIMEZONE_CHANGED" />
			</intent-filter>
		</receiver>
		
	</application>
</manifest>

